<style>
body {
background-image: url("https://www.meme-arsenal.com/memes/48285af89c1e07cec68fe46630642bd6.jpg ");
background-repeat: no-repeat;
background-position: all;
background-size: cover;
} 
h1 {
color: #FF00FF;
}
ul li {
color: #800080;
}
</style>